{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12 text-center">
        <ul class="nav nav-pills">
            <li><a href="{{ url_for('mod_home.index') }}">All</a></li>
            <li><a href="{{ url_for('mod_question.unansweredQuestions') }}">Unanswered</a></li>
            <li><a href="{{ url_for('mod_question.answeredQuestions') }}">Answered</a></li>
            <li><a href="{{ url_for('mod_tag.searchByTags') }}">Search By Tags</a></li>
            <li><a href="{{ url_for('mod_user.profile') }}">Search User</a></li>
        </ul>
    </div>
    <br>
    <div class="col-md-12 text-center">
        {% for question in questions %}
            {% include 'mod_question/question.html' %}
        {% endfor %}
    </div>
    <div class="container">
        <h3>Answers: </h3>
        <hr>
    </div>
    <div class="col-md-12 text-center">
        {% for answer in answers %}
            {% include 'mod_answer/answer.html' %}
        {% endfor %}
    </div>
    {% if current_user.is_authenticated and enabled %}
        <div class="container" style="text-align: center;">
            <a href="{{ url_for('mod_answer.answerQuestion', question_id = questions[0].question_id) }}" class="btn btn-success btn-lg">Submit Answer</a>
        </div>
    {% endif %}
    <br>
</div>
{% endblock %}