{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<div class="container">
	<div class="container">
		<img src="{{ user.avatar(120) }}" style="display: block; margin: auto;">
		<br>
    <h1 style="text-align: center;"><span class="text-info"> Statistics of {{ user.username }} </span></h1>
    <table class="table table-striped table-hover table-bordered">
      <br />
       <thead>
    <tr class="success">
      <th style="text-align: center;">#</th>
      <th style="text-align: center;">Activity done by {{ user.username }}</th>
      <th style="text-align: center;">Analysis of {{ user.username }}</th>
    </tr>
  </thead>
      <tbody>
        <tr class="active">
          <td style="text-align: center;">1</td>
          <td style="text-align: center;">Questions asked</td>
          <td style="text-align: center;">{{ user.questions.all()|length }}</td>
        </tr>
        <tr class="active">
          <td style="text-align: center;">2</td>
          <td style="text-align: center;">Questions answered</td>
          <td style="text-align: center;">{{ user.answers.all()|length }}</td>
        </tr>
        <tr class="active">
          <td style="text-align: center;">3</td>
          <td style="text-align: center;">Upvotes</td>
          <td style="text-align: center;">{{ user.upvotes.all()|length }}</td>
        </tr>
        <tr class="active">
          <td style="text-align: center;">4</td>
          <td style="text-align: center;">Downvotes</td>
          <td style="text-align: center;">{{ user.downvotes.all()|length }}</td>
        </tr>
      </tbody>
    </table> 
      </div>
      <br>
      <div class="col-md-12 text-center">
    <h2 style="text-align: center;"><span class="text-info"> Questions Asked</span></h2>
    <div class="col-md-12 text-center">
      {% for question in questions %}
      {% include 'mod_question/questionLink.html' %}
      {% endfor %}
    </div>
  </div>
  {% endblock %}
